
@{
    ViewBag.Title = "SampleTemplate";
}

<div style="padding-top: 30px">
    @Html.Kentico().EditableArea("area1")
</div>

<script src="https://cdn.ckeditor.com/4.11.4/full-all/ckeditor.js"></script>
@Html.Kentico().PageBuilderScripts()
@Html.Kentico().PageBuilderStyles()